<!DOCTYPE html>

<html>
  <head>
    <title>We Demand Serverless Ruby !</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is an online petition to show that Ruby community is prepared to go Serverless and show Function as a Service (FaaS) providers that there is a value and market potential to support Ruby MRI.">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
