<!DOCTYPE html>

<html>
  <head>
    <title>We Demand Serverless Ruby !</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Online petition for Ruby developers to demand Ruby as FaaS (Function as a Service) so we can start develop Serverless app development with Ruby">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
